<% provide(:title, @article.title) %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>

<% if user_signed_in? %>
  <% if current_user.role.name == 'banned' %>
    <%= current_user.username %> is unable to view comments. 
  <% else %>
    <%= render @article.comments %>
 
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
 
    <%= link_to 'Back', articles_path %>
  <% end %>
<% end %>